:root {
    --main-bg-color: #F2EEED;
    --second-bg-color: white;
    --second-text-color: #E02407;
    --nav-item-color: #484040;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Muli', Arial, sans-serif;
}

p {
    font-family: 'Quicksand', Helvetica, sans-serif;
}

.site-logo {
    height: 50px;
    object-fit: cover;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
}

/* Nav colors for homepage */
nav a {
    color: white;
}

nav a:hover {
    color: white;
}

a.nav-link.active:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 5px;
    border-bottom: 6px solid white;
}

.first-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--image-url) top center;
    min-height: 100vh;
    background-size: cover;
    width: 100%;
}

.header {
    height: calc(100vh - 76px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 4.5em;
    color: white;
    font-weight: 700;
}

.header h2 {
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}

.header button {
    background-color: #F43A07;
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 2em;
    cursor: pointer;
    font-family: 'Muli', Arial, sans-serif;
}

.door-icon {
    width: 30px;
}

.intro-content {
    min-height: 80vh;
    background: var(--main-bg-color);
}

.desc {
    background-color: var(--second-bg-color);
    border-radius: 10px;
    margin: 50px auto;
    padding-top: 20px;
}

.desc p {
    padding: 20px 40px;
}

.about {
    margin-top: 3em;
}

.about h2 {
    font-weight: 600;
    padding-top: 1.2em;
}

.about p:last-child {
    margin-bottom: 2em;
}

.features {
    background: white;
    min-height: 60vh;
}

.features h2 {
    margin-top: 3em;
}

.feature-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 30px;
    margin: 2em 0;
    padding: 2em;
    border: 3px solid #e0cac5;
    border-radius: 10px;
    box-sizing: content-box;
}

.feature-details div {
    padding: 0;
}

.feature-details p {
    color: #E02407;
    font-weight: 600;
}

.feature-details p:after {
    content: "";
    display: block;
    width: 15%;
    padding-top: 10px;
    border-bottom: 6px solid #E2A49B;
}

/* GALLERY PAGE */
.gallery-page .nav-link {
    color: var(--nav-item-color);
}

.gallery-page .nav-link:hover {
    color: var(--nav-item-color);
}

.gallery-page .nav-link.active:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 5px;
    border-bottom: 6px solid var(--nav-item-color);
}

.image-section {
    height: 100vh;
    background: var(--main-bg-color);
}

.image-section>h2 {
    font-weight: bold;
    padding-top: 12px;
}

.tabs {
    margin: 30px auto;
    max-width: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.tabs button {
    background-color: var(--second-bg-color);
    border: none;
    color: orangered;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.tab:hover {
    background-color: orangered;
    color: white;
}

.tab.active {
    background-color: orangered;
    color: white;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.grid {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.grid .grid-col {
    flex: 1;
    padding: 0 .2em;
}

.grid img {
    width: 100%;
}

.grid-col--2,
.grid-col--3 {
    display: none;
}

/*CONTACT PAGE*/
.contact-section {
    background: url('../img/exterior-images/ex-4.jpg');
    height: calc(100vh - 76px);
    background-size: cover;
    background-position-y: 43%;
    width: 100%;
}

.contact-section:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 76px;
    bottom: 0;
    background: #f0f0f087;
}

.contact-details {
    height: 100%;
}

.contact-details h2{
    margin-top: 3.5em;
    font-weight: bold;
}

.specifics{
    display: block;
    max-width: 400px;
    margin: 50px auto 0;
}

.phone,
.email,
.location {
    float: left;
    margin-right: 40px;
    width: 26px;
}

.specifics p{
    font-weight: 600;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-top: 4.5em;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media (min-width: 768px) {
    .grid-col--2 {
        display: block;
    }

    .grid-col {
        padding: 0 .5em
    }

    .grid img {
        margin-bottom: .6em;
    }
}

@media (min-width: 1080px) {
    .grid-col--3 {
        display: block;
    }
}